[Unit]
Description=Hypnotoad iMicrobe
After=network.target

[Service]
User=imicrobe
Group=imicrobe
Type=simple
RemainAfterExit=yes
ExecStart=/home/imicrobe/start_imicrobe_mojo.sh
ExecStop=/home/imicrobe/stop_imicrobe_mojo.sh
ExecReload=/home/imicrobe/start_imicrobe_mojo.sh

[Install]
WantedBy=multi-user.target