[Unit]
Description=Hypnotoad iMicrobe
Requires=network.target
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
SyslogIdentifier=imicrobe
PIDFile=/usr/local/imicrobe/mojo/script/hypnotoad.pid
ExecStart=/usr/local/bin/hypnotoad /usr/local/imicrobe/mojo/script/imicrobe
ExecStop=/usr/local/bin/hypnotoad -s /usr/local/imicrobe/mojo/script/imicrobe
ExecReload=/usr/local/bin/hypnotoad /usr/local/imicrobe/mojo/script/imicrobe

[Install]
WantedBy=multi-user.target